main.container {
  max-width: 500px;
  margin: auto;
  background-color: darkgrey;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

form {
  margin: 20px 0;
  display: inline-block;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

[type="checkbox"] {
  margin-right: 5px;
}
